// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the GR-Peach board
 *
 * Copyright (C) 2017 Jacopo Mondi <jacopo+renesas@jmondi.org>
 * Copyright (C) 2016 Renesas Electronics
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "r9a07g043u11.dtsi"
#include "r9a07g043u11-u-boot.dtsi"
#include <dt-bindings/pinctrl/rzg2l-pinctrl.h>

/ {
	model = "rnx-rzg2ul-osm";
	compatible = "renesas,r9a07g043u", "renesas,rzg2ul";

	aliases {
		serial0 = &scif0;
		spi0 = &spibsc;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0 0x48000000 0 0x38000000>;
	};
};

&pinctrl {
	eth0_pins: eth0 {
		pinmux = <RZG2L_PINMUX(1, 0, 1)>,	/* ET0_TX_CLK */
				<RZG2L_PINMUX(1, 1, 1)>,	/* ET0_TX_EN */
				<RZG2L_PINMUX(1, 2, 1)>,	/* ET0_TXD0 */
				<RZG2L_PINMUX(1, 3, 1)>,	/* ET0_TXD1 */
				<RZG2L_PINMUX(1, 4, 1)>,	/* ET0_TXD2 */
				<RZG2L_PINMUX(2, 0, 1)>,	/* ET0_TXD3 */
				<RZG2L_PINMUX(3, 0, 1)>,	/* ET0_TRX_CLK */
				<RZG2L_PINMUX(3, 1, 1)>,	/* ET0_TRX_DV */
				<RZG2L_PINMUX(3, 2, 1)>,	/* ET0_TRX_RXD0 */
				<RZG2L_PINMUX(3, 3, 1)>,	/* ET0_TRX_RXD1 */
				<RZG2L_PINMUX(4, 0, 1)>,	/* ET0_TRX_RXD2 */
				<RZG2L_PINMUX(4, 1, 1)>,	/* ET0_TRX_RXD3 */	
				<RZG2L_PINMUX(4, 3, 1)>,	/* ET0_MDC */
				<RZG2L_PINMUX(4, 4, 1)>,	/* ET0_MDIO */
				<RZG2L_PINMUX(4, 5, 1)>;	/* ET0_LINKSTA */
	};
};

&xinclk {
        clock-frequency = <24000000>;
};

&scif0 {
	status = "okay";
	clock = <100000000>;
};

&sdhi0 {
	bus-width = <8>;
	status = "okay";
};

&sdhi1 {
	/* pinctrl placeholder
	 * A power enable pin (SD1_PWR_EN) must be defined to interface with a
	 * SD card.
	 * The SD1_PWR_EN pin is associated with P0_3.
	 * A HIGH signal on SD1_PWR_EN will enable supply voltage for SD card.
	*/
	bus-width = <4>;
	status = "okay";
};

&eth0 {
	pinctrl-names = "default";
	pinctrl-0 = <&eth0_pins>;
	phy-handle = <&phy0>;
	phy-mode = "rgmii";
	status = "okay";

	phy0: ethernet-phy@1 {
		reg = <1>;
	};
};

&i2c0 {
	status = "okay";
};

&spibsc {
        num-cs = <1>;
        status = "okay";
        spi-max-frequency = <40000000>;
        #address-cells = <1>;
        #size-cells = <0>;
        flash0: spi-flash@0 {
                #address-cells = <1>;
                #size-cells = <1>;
                compatible = "spi-flash", "jedec,spi-nor";
                spi-max-frequency = <40000000>;
                spi-tx-bus-width = <1>;
                spi-rx-bus-width = <1>;
                reg = <0>;
                status = "okay";
        };
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&wdt0 {
	status = "okay";
	timeout-sec = <60>;
};